<p id="notice"><%= notice %></p>

<h1>Listing Rentals</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Host</th>
      <th>Name</th>
      <th>Address street</th>
      <th>Address number</th>
      <th>Address city</th>
      <th>Address country</th>
      <th>Address zip</th>
      <th>Rental type</th>
      <th>Number of sleeps</th>
      <th>Price per night</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rentals.each do |r| %>
      <tr>
        <td><%= image_tag r.picture.url(:medium) %></td>
        <td><%= r.host_id %></td>
        <td><%= r.name %></td>
        <td><%= r.address_street %></td>
        <td><%= r.address_number %></td>
        <td><%= r.address_city %></td>
        <td><%= r.address_country %></td>
        <td><%= r.address_zip %></td>
        <td><%= r.rental_type %></td>
        <td><%= r.number_of_sleeps %></td>
        <td><%= r.price_per_night %></td>
        <td><%= r.description %></td>
        <td><%= link_to 'Show', r %></td>
        <td><%= link_to 'Edit', edit_rental_path(r) %></td>
        <td><%= link_to 'Destroy', r, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rental', new_rental_path %>
