<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <div class="image-container">
        <p>
          <strong>Name:</strong>
          <%= @rental.name %>
        </p>
        <%= image_tag "livingroom.jpg", class:'img-responsive' %>
      </div>
      <%= render "navbar_show" %>
      <div class="photos row">
        <div class="img col-md-4">
          <p>
            <%= image_tag @rental.picture.url(:medium), class:'img-responsive' %>
          </p>
        </div>
        <div class="col-md-4">
          <p>
            <%= image_tag @rental.picture.url(:medium), class:'img-responsive' %>
          </p>
        </div>
        <div class="col-md-4">
          <p>
            <%= image_tag @rental.picture.url(:medium), class:'img-responsive' %>
          </p>
        </div>
      </div>
      <div class="about-rental row">
        <p>
          <strong>Name:</strong>
          <%= @rental.name %>
        </p>
        <p>
          <strong>Rental type:</strong>
          <%= @rental.rental_type %>
        </p>
        <p>
          <strong>Number of sleeps:</strong>
          <%= @rental.number_of_sleeps %>
        </p>
        <p>
          <strong>Price per night:</strong>
          <%= @rental.price_per_night %>
        </p>
        <p>
          <strong>Description:</strong>
          <%= @rental.description %>
        </p>
      </div>
      <div class="reviews row">
        No reviews so far ;)
      </div>
      <div class="about-host row">
        <p>
          <strong>Host:</strong>
          <%= @rental.host_id %>
        </p>
      </div>
      <div class="address row">
        <p>
          <strong>Address:</strong>
          <%= @rental.address_street %>, <%= @rental.address_number %> <br>
          <%= @rental.address_zip %> <%= @rental.address_city %> <br>
          <%= @rental.address_country %>
        </p>
      </div>
      <div class="check-av row">
        <%= link_to 'Check availability', new_rental_booking_path(@rental), class:'btn' %>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>
  <div class="row text-center">
    <%= link_to 'Back', rentals_path, class:'btn' %>
  </div>

  <div id="map" style="width: 100%; height: 600px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>
<% end %>

</div>
